.Mobile_Navbar {
  position: relative;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.08);
  height: 84px;
  font-family: "Poppins", sans-serif;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 8px 22px 8px 22px;
}
.menu-icon {
  color: #07125f;
  font-size: 26px;
  cursor: pointer;
}
.dropdown-links-wrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 999;
  background: white;
  padding: 32px;
  margin-top: 25px;
  align-items: flex-start;
}
.right-box {
  gap: 8px;
}

.shop-bttn {
  padding: 0px 20px;
}
.dropdown-links-wrapper a {
  font-family: Inter;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  color: #717286;
  text-decoration: none;
  display: block;
  padding-bottom: 32px;
}

.dropdown-links-wrapper .drop-down-link {
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  color: #717286;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 32px;
}
.menu-box.Mobbox {
  font-size: 14px;
  padding: 11px 32px 11px 10px;
}

.logo-mobile {
  max-width: 150px;
  max-height: 40px;
}

.account-div {
  width: 100%;
  text-align: left;
  color: #717286;
  font-weight: 600;
  font-size: 16px;
}
.account-div button {
  color: #e1251b;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding: 0px;
}

@media (max-width: 1268px) {
  .Mobile_Navbar {
    display: flex;
  }
}

.MobDrop {
  display: flex;
  flex-direction: column;
}

.supmenuparent {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.Mobbox {
  padding: 10px;
}
