.cart-products {
  display: flex;
  width: 70%;
  padding: 40px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  background: #FFF;
  @media (max-width: 1200px) {
    width: calc(100% - 32px);
    padding: 16px;
  }

  .top-part {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    justify-content: space-between;

    .cart-svg {
      display: flex;
      align-items: center;
      gap: 16px;

      p {
        color: var(--Basic-Black, #000);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */
        letter-spacing: 0.36px;
        margin: 0;
      }
    }

    p {
      color: #303030;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 131.5%; /* 21.04px */
      letter-spacing: 1.44px;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .products {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
  }
}