.cart-product-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;

  img {
    width: 20%;
  }

  .MuiButtonBase-root {
    border-radius:10px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid #DADADA;
    background: #FFF;
  }

  .quantity-2 {
    display: flex;
    padding: 4px 4px;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 10px;
    border: 1.5px solid #DADADA;
    max-width: 114px;
    width: 100%;

    .MuiButtonBase-root {
      padding: 0px !important;
      border: none;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;

    .name-price {
      display: flex;
      width: 100%;
      @media (max-width: 1200px) {
        align-items: flex-start;
        justify-content: space-between;
      }

      .name-price2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        align-self: stretch;
        @media (max-width: 1200px) {
          flex-direction: column;
          align-items: flex-start;
          text-align: start;
        }
      }

      p {
        color: #393939;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: -0.08px;
        @media (max-width: 1200px) {
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 19.6px */
        }
      }

      .price {
        color: #171717;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        @media (max-width: 1200px) {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 22.4px */
        }
      }

      .original-price {
        color: var(--Grey-300, #B6B7C3);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: line-through;
        text-transform: capitalize;
        @media (max-width: 1200px) {
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 16.8px */
        }
      }
    }

    .color-quantity {
      display: flex;
      width: 100%;
      @media (max-width: 1200px) {
        align-items: flex-start;
        gap:10px
      }

      .color-quantity2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (max-width: 1200px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .color {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 10px;
        background: #F8F8F8;
        max-width: 100px;
        @media (max-width: 1200px) {
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding:8px
        }

        p {
          color: #303030;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 16.8px */
        }

        .color-circle {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border:1px solid #303030;
        }
      }

      .quantity {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 16px;

        button {
          display: flex;
          padding: 10px 0px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          color: var(--Main-Green, var(--Fruit-Salad-600, #219D50));
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
          border:none;
          background-color: #FFFF;
          @media (max-width: 1200px) {
            width: 100%;
          }
        }

        .quantity-2 {
          display: flex;
          padding: 4px 4px;
          justify-content: center;
          align-items: center;
          gap: 16px;
          border-radius: 10px;
          border: 1.5px solid #DADADA;

          .MuiButtonBase-root {
            padding: 0px !important;
            border: none;
          }
        }
      }
    }
  }
}