.product-description-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .left-side-photo {
    display: flex;
    align-items: flex-start;
    gap: 7.969px;
    width: 50%;
    @media (max-width: 1200px) {
      width: 100%;
    }

    img {
      width: 65%;
    }

    .products-on-top {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      width: 32%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;

    h1 {
      margin:0px;
    }

    p {
      margin: 0px;
      text-align: start;
    }
  }
}