.product-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;


  p {
    color: var(--Main-Black, #1E1E1E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-align: start;
    margin: 0px;
  }

  .top-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    .category-product {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        width: 63px;
        height: 63px;
        border-radius: 50%;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 16px;

      .MuiRating-root {
        font-size: 20px;
        color: var(--Fruit-Salad-600, #219D50);
        @media (max-width: 1200px) {
          font-size: 16px;
        }
      }

      p {
        color: var(--Grey-300, #B6B7C3);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        margin: 0
      }
    }

    p {
      color: var(--Basic-Black, #000);
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 24px */
      letter-spacing: 0.3px;
      margin: 0px
    }

    h1 {
      color: #393939;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 38.4px */
      margin: 0px;
    }
  }

  .price {
    display: flex;
    align-items: center;
    gap: 16px;

    .MuiButtonBase-root {
      border-radius: 10px;
      border: 1.5px solid #DADADA;
      background: #FFF;
      padding:12px 24px;
    }
    .price-in-price {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (max-width: 1200px) {
        flex-direction: column;


        p {
          color: #171717;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 36px */
          letter-spacing: 0.36px;
        }
      }
    }
    @media (max-width: 1200px) {
      justify-content: space-between;
      width: 100%;
    }

    .quantity {
      display: flex;
      padding: 4px 4px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 10px;
      border: 1.5px solid #DADADA;

      .MuiButtonBase-root {
        padding: 0px !important;
        border: none;
        width: 30%;
      }
    }

    h1 {
      color: #171717;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 38.4px */
      letter-spacing: 0.48px;
      margin: 0px;

      &.discount {
        color: var(--Grey-300, #B6B7C3);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 31.2px */
      }
    }
  }

  .colors-model {
    display: flex;
    padding: 27px 0px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .colors-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      flex: 1 0 0;

      .colors {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .colors-picker {
        width: 67px;
        height: 67px;
        border-radius: 40px;
        cursor: pointer;

        &.selected {
          border:1px solid black
        }
      }
    }

    .models-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      flex: 1 0 0;

      .models {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 67px;
          height: 67px;
          border-radius: 50%;
          cursor: pointer;

          &.selected {
            border: 1px solid black;
          }
        }
      }
    }
  }


  .quantity-buy {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 1200px) {
      flex-direction: column;
      width: 100%;
    }

    .MuiButtonBase-root {
      border-radius: 10px;
      border: 1.5px solid #DADADA;
      background: #FFF;
      width: 10%;
    }

    button {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: var(--Main-Green, #219D50);
      border: none;
      color: var(--Main-White, #FFF);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
      width: 50%;
      cursor: pointer;
      @media (max-width: 1200px) {
        width: 100%;
      }

      &.green-light {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--Green-Light, rgba(104, 212, 145, 0.27));
        color: var(--Main-Green, var(--Fruit-Salad-600, #219D50));
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        width: 30%;
        @media (max-width: 1200px) {
          width: 100%;
        }
      }
    }

    .quantity {
      display: flex;
      padding: 4px 4px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 10px;
      border: 1.5px solid #DADADA;

      .MuiButtonBase-root {
        padding: 0px !important;
        border: none;
        width: 30%;
      }
    }
  }

  .free-shiping {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}