.banner {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--Fruit-Salad-100, #DEFAE8);
  position: relative;


  img {
    width: 60%;
    border-radius: 0px 16px 16px 0px;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: calc(50% - 12px);
    right: 5%;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Main-Green, #219D50);
    color: var(--Main-White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
  }


  .letf-side-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 40%;
    padding: 48px 0px 48px 48px;

    p {
      color: #1D1D1D;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 30px */
      letter-spacing: 0.3px;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      p {
        color: var(--Fruit-Salad-800, #1C5F36);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 131.5%; /* 21.04px */
        letter-spacing: 1.44px;
        text-transform: uppercase;
        margin: 0;
      }

      h1 {
        color: var(--Fruit-Salad-600, #219D50);
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 57.6px */
      }
    }
  }
}