.category-banner-wrapper {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;

  .banner {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--Fruit-Salad-100, #DEFAE8);
    position: relative;


    img {
      width: 60%;
      border-radius: 0px 16px 16px 0px;
      object-fit: cover;
    }

    button {
      position: absolute;
      top: calc(50% - 12px);
      right: 5%;
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: var(--Main-Green, #219D50);
      color: var(--Main-White, #FFF);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
      border: none;
    }


    .letf-side-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
      width: 40%;
      padding: 48px 0px 48px 48px;

      p {
        color: #1D1D1D;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        letter-spacing: 0.3px;
      }

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        p {
          color: var(--Fruit-Salad-800, #1C5F36);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 131.5%; /* 21.04px */
          letter-spacing: 1.44px;
          text-transform: uppercase;
          margin: 0;
        }

        h1 {
          color: var(--Fruit-Salad-600, #219D50);
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 57.6px */
        }
      }
    }
  }

  .featured-special-offers-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 56px;
    align-self: stretch;

    .special-offers {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      width: 30%;

      h1 {
        color: var(--Variable-Grey-Text, #5C5F62);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 31.2px */
      }

      .new-arrivals {
        display: flex;
        height: 385px;
        padding: 24px 0px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 12px;
        background: var(--Variable-Off-White, #F7F6FB);
        position: relative;

        .sticker {
          display: flex;
          width: 75px;
          height: 75px;
          padding: 16px 24px;
          justify-content: center;
          align-items: center;
          gap: 16px;
          position: absolute;
          left: -40px;
          top: -10px;
          border-radius: 50%;
          background: var(--Green-Light, rgba(104, 212, 145, 0.27));

          p {
            color: var(--Basic-Black, #000);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
          }
        }

        img {
          width: 62%;
          position: absolute;
          left: 81px;
          top: -23.9px;
        }

        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;

          h1 {
            color: var(--Foggy-Gray-950, #29241F);
            font-size: 28px;
            font-style: normal;
            font-weight: 800;
            line-height: 150%; /* 42px */
            letter-spacing: 0.42px;
          }

          p {
            color: var(--Foggy-Gray-500, #8C8666);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 27px */
            letter-spacing: 0.27px;
          }
        }

        button {
          display: flex;
          padding: 12px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          border: 1.5px solid var(--Main-Green, #219D50);
          color: var(--Main-Green, var(--Fruit-Salad-600, #219D50));
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: capitalize;
        }
      }
    }
  }

}