.PrivacypolicyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  position: relative;
  .SectionOne {
    display: flex;
    padding: 80px;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: center;
    background: var(--Foggy-Gray-50, #f5f5f1);
    .wrap {
      width: -webkit-fill-available;
      max-width: 1360px;
      display: flex;
      align-items: center;
      justify-content: center;
      .textbox {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .header {
          color: var(--Main-Green, #4c9b58);
          text-align: center;
          // font-family: Gabarito;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 76.8px */
        }
        .note {
          color: var(--Basic-Black, #000);
          text-align: center;
          // font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          max-width: 855px;
        }
      }
    }
    .topImage {
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 2;
    }
  }
  .SectionTwo {
    display: flex;
    padding: 0px 80px 80px 80px;
    align-items: flex-end;
    align-self: stretch;
    background: var(--Foggy-Gray-50, #f5f5f1);
    justify-content: center;
    .wrap {
      max-width: 1360px;
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      gap: clamp(50px, 64px, 75px);
      .textWrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 64px;
        flex: 1 0 0;
        // max-width: 50%;
        .block {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;
          text-align: left;
          .title {
            color: var(--Basic-Black, #000);
            // font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 36px */
            letter-spacing: 0.36px;
          }
          .desc {
            color: var(--Basic-Black, #000);

            /* Web/Body/B3 */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
        }
      }
    }
  }
}
