.forget-password-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(245, 245, 241, 1) 33%,
    rgba(255, 255, 255, 1) 44%
  );
  .forget-password {
    display: flex;
    max-width: 1360px;
    width: 100%;
  }
}
